:root{
    --color-background: #1d2026;
    --color-background-white: #fff;
    --color-background-nav: #121212;
    --color-text:#fff;
    --color-background-button:#efefef;
    --color-background-span:#999;
    --color-background-mainbutton:#00986f;
    }

html{
        font-size: 62.5%; 
     }

body{
    background-color: var(--color-background);
    min-height: 100vh;
    width: 100%;
    color: var(--color-text);
    position: relative;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    @media screen and (min-width: 768px) {
        margin: 0; height: 100%; overflow: hidden;
    }
}

/* navigation bar */
  .nav__list{
    position: relative;
    align-items: center;
    background-color:var(--color-background-nav);
    margin-top: 5px;
    z-index: 1;
    display: none;
    animation: fade-in 600ms forwards;
  }


  
  .nav__item{
    text-align: center;
    list-style: none;
    padding:1rem 2rem;
    font-size: 2rem;
  }
  
  .nav__item> a{
    color: #d2d0d2;
    transition: color 0.3s;
   
  }
  
  .nav__item> a:hover{
    color: #fff;
  }
  .nav__logo{
    width: 130px;
    cursor: pointer;
    margin-left: 10px;
    
  }
  
  .nav__icon{
    position: absolute;
    top:10px;
    right:10px;
    width: 30px;
    transition: box-shadow .15s;
    cursor: pointer;
    
  }
  
 
 @media screen and (min-width: 768px) {
    .nav__icon{
      display: none;
    }
    .nav{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 0 1rem;
        align-items: center;
        padding-top: 10px;
      }

     .nav__list{
      width: auto;
      display: flex;
      font-size: 1.6rem;
      max-height: 100%;
      opacity: 1;
      background: none;
     }
  
     .nav__item{
      border: 0;
     }
     .nav__logo{
        width: 160px;
       
      }

    }
      
  /* Links */
a{
    text-decoration: none;
    font-size: 1.7rem;
}

  /* Buttons */
  
  .list_button{
    background-color: var(--color-background-button);
    height: 30px;
    width: 60px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    margin-left: 10px;
    cursor: pointer;
    padding: 0;
    display: none;
    }
    .list_button span{
        display: block;
        background: var(--color-background-mainbutton);
        height: 26px;
        width: 26px;
        border-radius:50%;
        margin-left: 33px;
        transition: background 0.5s,  margin-left 0.5s ;
    }

    .active span{
       background: var(--color-background-span);
       margin-left: 2px;
       transition: background 0.5s,  margin-left 0.5s ;
    }
    @media screen and (min-width: 768px) {
        .list_button{
            display: block;
        } 
    }

    /* lamp-container */
    .lamp-container{
        position: absolute;
        top: -30px;
        left: 35%;
        width: 130px;
        transition: top 0.5s;
    }
    .lamp{
        width: 100%;
        cursor: pointer;
    }
    .lamp_light{
        position: absolute;
        top: 97%;
        left: 45%;
        transform: translateX(-50%);
        width: 500px;
        height: 35vh;
        opacity: 1;
        transition: opacity 0.5s;
    }
    .light_off{
      opacity: 0;  
      transition: opacity 0.5s;
    }

    @media screen and (min-width: 768px) {
        .lamp-container{
         
            top: -20px;
            left: 22%;
            width: 200px;
        }
        
        .lamp_light{
            
            width: 700px;
            height: 50vh;
            
        }
    }

    /* Text-container */
    .Text-container{
        max-width: 400px;
        margin-top: 45%;
        margin-left: 10%;
    }

    .Text-container h1{
        font-size: 4rem;
        font-weight: 300;
    }
    .Text-container p{
        font-size: 1.5rem;    
    }
    .Text-container a{
        text-decoration: none;
        background-color: var(--color-background-mainbutton) ;
        padding: 14px 14px ;
        display: inline-block;
        color: var(--color-text);
        font-size: 1.5rem;
        margin-top: 10px;
        border-radius: 30px;
        margin-bottom: 10px;
    }
    @media screen and (min-width: 768px) {
        .Text-container{
            max-width: 600px;
            margin-top: 7%;
            margin-left: 50%;
        }
    
        .Text-container h1{
            font-size: 5rem;
            font-weight: 400;
        }
        .Text-container p{
            font-size: 2rem;    
        }
        .Text-container a{
           font-size: 2rem;
          
        }
    }


    /* control */
    /* .control{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 40px;
        margin-bottom: 100px;
        margin-right: 10px;
    }
    .line{
        width: 200px;
        height: 4px;
        background-color: var(--color-background-white);
        margin: 0 20px;
        border-radius: 2px;
    }
    .line span{
        width: 150px;
        height: 4px;
        background-color: var(--color-background-mainbutton);
        border-radius: 2px;
        display: block;
    }
    @media screen and (min-width: 768px) {
        .control{
            
            margin-top: 100px;
        }
        .line{
            width: 250px;
            
        }
        .line span{
            width: 200px;     
        }
    } */

  /* collapsibles */
  .collapsible_expanded{
    display: block;
    
  }
  .lampe_expanded{
    position: absolute;
    top: 150px;
    transition: top 0.5s;
  }
  @media screen and (min-width: 768px) {
  
     .collapsible_expanded{
      
      display: flex;
     }
     .lampe_expanded{
        position: absolute;
        top: -35px;
    }
}
