:root{
    --color-background: #1d2026;
    --color-text:#fff;
    }



.background{
    background-color: var(--color-background);
    min-height: 100vh;
    width: 100%;
    color: var(--color-text);
    position: relative;
}