<blockquote class="quote">
  <p class="quote__text">
    "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque quod
    perferendis maxime ducimus velit numquam accusamus molestias molestiae atque
    optio."
  </p>
  <footer>
    <div class="media">
      <div class="media__image">
        <svg class="icon icon--primary quote__line">
          <use xlink:href="images/sprite.svg#line"></use>
        </svg>
      </div>
      <div class="media__body">
        <h3 class="media__title quote__author">jhon ...</h3>
        <p class="quote__organization">abc...</p>
      </div>
    </div>
  </footer>
</blockquote>
